<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-text-center ion-padding">
    <ion-icon name="storefront-outline" style="font-size: 64px;"></ion-icon>
    <ion-card-header>
      <ion-card-title>SIMOBILE</ion-card-title>
      <ion-card-subtitle>Aplikasi Kasir Toko Makmur Jaya</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Versi 1.0.0 (UTS HMP Gasal 2026/27)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Informasi Pengembang</ion-card-title>
    </ion-card-header>
    <ion-list lines="full">
      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>
          <h3><strong>Anggota Kelompok</strong></h3>
          <p>Joshua Alext Tanuwijaya - 160424025</p>
          <p>Antonio Eka Saputra Riady - 160424061</p>
          <p>Fernanda Evangeline Alessandra - 160424157</p>
          <p>Shallom Sharon Ariella - 160424167</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="school-outline" slot="start"></ion-icon>
        <ion-label>
          <h3><strong>Nama Kelompok</strong></h3>
          <p>Teletubles</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- App Description & Features -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tentang SIMOBILE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="margin-bottom: 12px;">
        SIMOBILE diciptakan khusus untuk membantu Bu Marni mengelola pencatatan stok, 
        penjualan, dan riwayat transaksi Toko Makmur Jaya secara cepat at offline tanpa koneksi internet.
      </p>
      
      <strong>Fitur Utama:</strong>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="checkmark-circle-outline" color="success" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">Pencarian Produk Real-Time</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle-outline" color="success" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">Manajemen Stok & Harga otomatis</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle-outline" color="success" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">Simulasi Keranjang & Riwayat Transaksi</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-circle-outline" color="success" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">Dukungan Mode Gelap / Terang</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>