<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Daftar Produk
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" placeholder="Cari nama produk..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="4" size-md="2" *ngFor="let item of filteredProducts; let i = index">
        <ion-card>
          <img [src]="item.image || defaultImage" (error)="onImageError($event)" [alt]="item.name || 'Gambar Produk'" class="product-img" />
          <ion-card-content>
            <h2 class="product-title" [routerLink]="['/produkdetail', i]">
              {{ item.name | uppercase }}
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/new-produk">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>