<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #aboutContent id="aboutContent" class="ion-padding">

  <div style="max-width: 600px; margin: 0 auto; padding-top: 10px;">

    <ion-card #myProfileCard id="myProfileCard">

      <div class="satu">
        <div class="satu1">
          <img src="assets/img/profile.jpg" alt="Foto Profil" style="width: 100%; height: 100%; object-fit: cover;"
            onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'">
        </div>
        <div>
          <h2>Antonio Ganteng Poll</h2>
          <p>Jurusan Informatika UBAYA</p>
        </div>
      </div>

      <div class="dua">
        <div class="dua2">
          <ion-icon name="location-outline" class="loc"></ion-icon>
          <span>Raya Kalirungkut Surabaya</span>
        </div>
      </div>

    </ion-card>

    <div class="tiga">
      <div class="tiga3">
        <ion-icon name="key-outline" class="key"></ion-icon>
        <span>Super Ganteng</span>
      </div>
      <div class="tiga3">
        <ion-icon name="key-outline" class="key"></ion-icon>
        <span>Super Pintar</span>
      </div>
    </div>
  </div>

</ion-content>