<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="product" class="detail-container">
    <img [src]="product.image" [alt]="product.name" class="detail-img" />

    <h1 class="detail-name">{{ product.name }}</h1>

    <ion-list lines="full">
      <ion-item>
        <ion-label>
          <h3>Harga</h3>
          <p>Rp {{ product.price }}</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h3>Jumlah Barang (Stok)</h3>
          <p>{{ product.stock }} item</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label>
        <h3>Harga Beli</h3>
        <p>Rp {{ product.hargaBeli }}</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Terjual</h3>
        <p> {{ product.terjual }} item</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Deskripsi</h3>
        <p>{{ product.description }}</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToEdit()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>