/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
    --ion-text-dark: #315622;
    --ion-text-light: #66805A;

    --ion-color-primary: #faf2d1;
    --ion-color-secondary: #e3f2c1;
    --ion-color-light: #f7faf0;
}

* {
    font-family: 'Poppins', sans-serif;
}

ion-toolbar {
    --background: var(--ion-color-secondary);
    --color: var(--ion-text-dark);
}

ion-tabs ion-tab-bar {
    --background: var(--ion-color-secondary);
    --color: var(--ion-text-dark);
    --color-selected: #ac8e49;
}

ion-content {
    --background: var(--ion-color-light);
    --color: var(--ion-text-dark);
}

ion-menu ion-content {
    --background: var(--ion-color-light) !important;
}

ion-menu ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-text-dark);
}

ion-menu ion-list {
    background: var(--ion-color-light) !important;
}

ion-item {
    --background: var(--ion-color-light);
    --border-style: none;
}

ion-button {
    --background: var(--ion-text-light);
    --color: var(--ion-color-light);
}

ion-button:hover {
    --background: var(--ion-color-primary);
    --color: var(--ion-text-dark);
}

ion-fab-button {
    --background: var(--ion-text-light);
    --color: var(--ion-color-light);
}

ion-searchbar {
    --background: var(--ion-color-light) !important;
    --color: var(--ion-color-dark) !important;
    --placeholder-color: var(--ion-text-light) !important;
    --icon-color: var(--ion-text-dark) !important;
    --clear-button-color: var(--ion-text-dark) !important;
    --border-radius: 8px !important;
}

ion-alert {
    .alert-button-role-cancel {
        color: #eb445a !important;
    }

    .alert-button:not(.alert-button-role-cancel) {
        color: var(--ion-text-dark) !important;
    }

    .alert-radio-icon {
        border-color: var(--ion-text-dark) !important;
    }

    .alert-radio-inner {
        background-color: var(--ion-text-dark) !important;
    }
}

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

body.dark {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    ion-content,
    ion-menu ion-content,
    ion-menu ion-list {
        --background: #000000 !important;
        background: #000000 !important;
        --color: #ffffff !important;
    }

    ion-accordion,
    ion-accordion ion-item,
    ion-accordion div {
        background: #000000 !important;
        --color: #ffffff !important;
    }

    ion-accordion div {
        background: #262424 !important;
        --color: #ffffff !important;
    }

    ion-card,
    ion-item {
        --background: #121212 !important;
        background: #121212 !important;
        --color: #ffffff !important;
        border: 1px solid #222222;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    ion-label,
    div {
        color: #ffffff !important;
    }

    ion-card-title,
    ion-card-subtitle,
    ion-card-content {
        color: var(--ion-color-primary) !important;
    }

    ion-toolbar,
    ion-tab-bar {
        --background: #262424;
        --color: var(--ion-color-light);
        --color-selected: var(--ion-color-secondary);
    }

    ion-toolbar h1,
    ion-toolbar h2,
    ion-toolbar h3,
    ion-toolbar ion-title,
    ion-toolbar ion-label,
    ion-tab-bar ion-label,
    ion-tab-bar ion-icon {
        color: var(--ion-color-light) !important;
    }

    ion-item {
        --background: #121212;
        --color: var(--ion-color-light);

        margin: 8px 0px;
        border-radius: 10px;

        ion-label {
            color: var(--ion-color-light);
        }

        ion-icon {
            color: var(--ion-color-secondary) !important;
        }
    }

    ion-item.active {
        --background: var(--ion-color-secondary) !important;
        --color: var(--ion-text-dark);

        font-weight: 600;
    }

    div {
        background: #000000 !important;
    }
}