:root {
    --ion-text-dark: #315622;
    --ion-text-light: #66805A;

    --light-primary: #faf2d1;
    --light-secondary: #e3f2c1;
    --light-content: #f7faf0;
}

* {
  font-family: 'Poppins';
}

ion-toolbar {
    --background: var(--light-secondary);
    --color: var(--ion-text-dark);
}

ion-tabs ion-tab-bar {
    --background: var(--light-secondary);
    --color: var(--ion-text-dark);
}

ion-content {
    --background: var(--light-content);
    --color: var(--ion-text-dark);
}

ion-menu ion-content {
    --background: var(--light-content) !important;
}

ion-menu ion-toolbar {
    --background: var(--light-primary);
    --color: var(--ion-text-dark);
}

ion-menu ion-list {
    background: var(--light-content) !important;
}

ion-item {
    --background: var(--light-content);
    --border-style: none;
}

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */