#container {
  position: relative;
  width: 100%;
  margin-top: 16px;
  background: var(--ion-color-light);

  ion-grid {
    padding: 0;
  }

  ion-grid.inside {
    border: 1px solid #8c8c8c53;
    border-radius: 8px;
    margin: 16px 20px;
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ion-col {
      padding: 8px 12px;
    }

    ion-row {
      display: flex;
      align-items: center;
    }
  }

  ion-card {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  ion-card-title {
    padding-left: 5px;
  }

  ion-card-header {
    padding-bottom: 0%;
  }

  h3 {
    padding-bottom: 10px;
  }
}

ion-label.header {  
  padding-left: 1%;
  --background: #000000;
}

ion-label.grid {
  display: block;
  padding: 5px;
  padding-bottom: 4px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

#container a {
  text-decoration: none;
}